/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* конец обнуление */

/* CODE */

p{

}

.arial{
  font-family: Arial;
}

.font-size{
  font-size: 20px;
}

.italic{
  font-style: italic;
}


.font-weight{
  font-weight: 700;
}

.color{
  color: rgb(13, 17, 236);
}

.text-align{
  text-align: justify; /* right centet left*/
}
.text-align1{
  text-align: right;
  color: red;
}

.text-decoration{
  text-decoration: underline;
  text-decoration: overline;
  text-decoration: none;
  text-decoration: line-through;
}

.text-shadow{
  text-shadow: 1px 2px 1px rgb(233, 13, 13); /* смещение 1 по горизонтали 2 по вертикали 3 размер размытия тени 4 цвет*/
}

.text-transform{
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: none;
  text-transform: uppercase;
}

.text-ident{
  text-indent: 50px;
}

.letter-spacing{
  letter-spacing: 5px;
}

.word-spacing{
  word-spacing: 10px;
}

.white-space{
  white-space: nowrap;
  white-space: normal;
}

.line-hight{
  line-height: 30px;
}