@import "nullstyle.scss";
// @import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

.head {
  font-family: "Work Sans";
  .head__top {
    background: url("../img/logo.png") left no-repeat;
    margin-left: 220px;
    height: 91px;
    .head__top__burger {
      background: url("../img/burger.png") right no-repeat;
      margin-right: 200px;
      height: 91px;
    }
  }

  .head__greeting {
    height: 401px;
    background-color: #f6f6f6;
    text-align: center;
  }
  .head_greeting__hello {
    padding-top: 40px;
    font-size: 55.5px;
    line-height: 66px;
    font-weight: 800;
    letter-spacing: -0.05em;
    color: #10cab7;
  }
  .head_greeting__info {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #2c4755;
  }
}

.content {
  font-family: "Work Sans";
  .content_input {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 500px;
    span {
      font-size: 18 px;
      line-height: 66px;
      font-weight: 800;
      letter-spacing: -0.05em;
      color: #2c4755;
    }
    .content_input__light {
      background: url("../img/light.png") center 40px no-repeat;
      padding: 120px;
      font-size: 15px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: -0.05em;
      color: #575757;
    }
    .content_input__colna {
      background: url("../img/colba.png") center 40px no-repeat;
      padding: 120px;
      font-size: 15px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: -0.05em;
      color: #575757;
    }
    .content_input__globus {
      background: url("../img/globus.png") center 45px no-repeat;
      padding: 120px;
      font-size: 15px;
      line-height: 32px;
      font-weight: 400;
      letter-spacing: -0.05em;
      color: #575757;
    }
  }

  .content__services {
    .content__services_1 {
      font-size: 161.9px;
      line-height: 195px;
      font-weight: 800;
      letter-spacing: -0.05em;
      color: #f6f6f6;
      text-align: center;
      position: relative;
      bottom: 100px;
    }
    .content__services_2 {
      text-align: center;
      font-size: 25px;
      line-height: 35px;
      font-weight: 400;
      letter-spacing: -0.05em;
      color: #575757;
      position: relative;
      bottom: 160px;
    }
    .content__services__icon {
      display: flex;
      flex-wrap: wrap;
      margin: 0px 200px 100px 100px;
      padding: 100px;
      text-align: left;

      p {
        text-align: left;
        span {
          font-size: 20px;
          line-height: 20px;
          font-weight: 800;
          color: #1f2021;
          text-align: center;
        }
      }
      .content__services__icon_1 {
        flex: 0 1 50%;
        background: url("../img/icon_1.png") left 10px no-repeat;
        padding-left: 50px;

        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.05em;
        color: #4d4c4c;
      }
      .content__services__icon_2 {
        flex: 0 1 50%;
        background: url("../img/icon_2.png") left 10px no-repeat;
        padding-left: 50px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.05em;
        color: #4d4c4c;
      }
      .content__services__icon_3 {
        flex: 0 1 50%;
        background: url("../img/icon_3.png") left 10px no-repeat;
        padding-left: 50px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.05em;
        color: #4d4c4c;
      }
      .content__services__icon_4 {
        flex: 0 1 50%;
        background: url("../img/icon_4.png") left 10px no-repeat;
        padding-left: 50px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.05em;
        color: #4d4c4c;
      }
    }
    .content__services__image_1 {

    }
    .content__services__image_2 {
      
    }
  }

  .content__portfolio {
    .content__portfolio_1 {
      font-size: 161.9px;
      line-height: 195px;
      font-weight: 800;
      letter-spacing: -0.05em;
      color: #f6f6f6;
      text-align: center;
      position: relative;
      bottom: 100px;
    }
    .content__portfolio_2 {
      text-align: center;
      font-size: 25px;
      line-height: 35px;
      font-weight: 400;
      letter-spacing: -0.05em;
      color: #575757;
      position: relative;
      bottom: 160px;
    }
    .content__portfolio_cube {
      display: flex;
      flex: 0 1 33.333%;
      margin: 0 100px;
      padding: 20px;
      .content__portfolio_cube_1 {
        span{
          font-size: 20px;
          line-height: 66px;
          font-weight: 800;
          color: #1f2021;
        }
      }
      .content__portfolio_cube_2 {
        span{
          font-size: 20px;
          line-height: 66px;
          font-weight: 800;
          color: #1f2021;
        }
      }
      .content__portfolio_cube_3 {
        span{
          font-size: 20px;
          line-height: 66px;
          font-weight: 800;
          color: #1f2021;
        }
      }
    }

    .content__portfolio_project {
      .content__portfolio_project_1 {
      }
      .content__portfolio_project_2 {
      }
      .content__portfolio_project_3 {
      }
    }
  }

  .content__about {
    .content__about_1 {
    }
    .content__about_2 {
    }
    .content__about_image_1 {
    }
    .content__about_image_2 {
    }
    .content__about_text {
      .content__about_text_1 {
      }
      .content__about_text_2 {
      }
    }
  }

  .content__contact {
    .content__contact_1 {
    }
    .content__contact_2 {
    }
    .content__contact_text {
    }
    .content__contact_email {
    }
    .content__contact_find {
    }
  }
}

.botom {
  font-family: "Work Sans";
  .botom_text {
  }
}
